<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment = "header" class="header">
    <div class="header-top"></div>
    <div class="header-top-nav">
        <div class="wrap">
            <ul>
                <li th:class="${currentPage == 'index' ? 'active' : ''}"><a th:href="@{/}">Home</a></li>
                <li th:class="${currentPage == 'about' ? 'active' : ''}"><a th:href="@{/about}">About</a></li>
                <li th:class="${currentPage == 'services' ? 'active' : ''}"><a th:href="@{/services}">Services</a></li>
                <li th:class="${currentPage == 'gallery' ? 'active' : ''}"><a th:href="@{/gallery}">Gallery</a></li>
                <li th:class="${currentPage == 'contact' ? 'active' : ''}"><a th:href="@{/contact}">Contact</a></li>
                <div>
                    <a th:href="@{/logout}">
                        <img class="logout-image" th:src="@{/images/logout.png}">
                    </a>
                </div>
                <div class="clear"> </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>